
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto';
    text-decoration: none !important;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    

}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh; 
}

.header-icon {
    font-size: 16px;
    color: black;
    background-color: white;
    border-radius: 100%;
    border: 1px solid gray;
    width: 26px;
    height: 26px;
}

.footer{
    background: black;
    width: 100%;
    /* height: 250px;  */
}
.text-footer{
    align-items: left;
    color: rgb(255, 255, 255);
}

.text{
    display: grid;
    background: black;
    height: 25vh;
    color: rgb(255, 255, 255);
    grid-template-columns: 3fr 1fr;
    margin-bottom: 10px;
}

.text-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    width: fit-content;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a{
    color: rgb(0,0,0);
}
.title{
 
    margin-left: 100px;
    font-size: 30px;
}
.card {
    margin: auto;
    text-align: center;
    justify-content: center;
    border: 0px solid white !important;
  }
.link-text  {
    text-decoration: underline !important;
}
.price {
    color: rgba(255, 0, 0, 1);
    font-size: 15px;
    margin-top: auto;
    margin-bottom: 5px;
  }
  .h-product-card {
    height:80%;
  }
 
.card-image {
    width:150px; height: 150px;

}
.card-title {
    font-size: 13px;
    margin-top: 20px;
    max-width: 175px;
    color: black !important;
}

@media only screen and (min-width: 768px) {

    .text-head{
        margin-left: 35%;
        width: unset;
    }

    .header-icon {
        font-size: 23px;
        width: 35px;
        height: 35px;
    }
    
  }

  @media only screen and (min-width: 1024px) {
    .padding{
        padding-left: 75px;
    }
    
  }